[Unit]
Description=thefractal.space twitter bot

[Service]
ExecStart=docker run --rm --name thefractalspace_bot \
          -e TWITTER_ACCESS_KEY={{ thefractalspace_bot_twitter_access_key }} \
          -e TWITTER_ACCESS_SECRET={{ thefractalspace_bot_twitter_access_secret }} \
          -e TWITTER_CONSUMER_KEY={{ thefractalspace_bot_twitter_consumer_key }} \
          -e TWITTER_CONSUMER_SECRET={{ thefractalspace_bot_twitter_consumer_secret }} \
          {{ thefractalspace_brocoli_docker_repository }}:{{ thefractalspace_brocoli_docker_tag }} \
          bot twitter
