[defaults]
inventory = ./simple-ansible-inventory.py
roles_path = ./roles
gathering = explicit
remote_user = root
nocows = true
callbacks_enabled = community.grafana.grafana_annotations

[ssh_connection]
pipelining = true

[callback_grafana_annotations]
grafana_url = "https://grafana.lama.tel/api/annotations"
