-- Network interface configuration
{% for listener in kresd_listeners %}
{{ listener | kresd_make_listener() }}
{% endfor%}


-- Load useful modules
modules = {
    'hints > iterate',  -- Load /etc/hosts and allow custom root hints
    'stats',  -- Track internal statistics
    'cache',
    'view',
{% for module in kresd_modules %}
    '{{ module }}',
{% endfor %}
    {{ kresd_extra_modules_raw | indent(4) }}
}



-- Cache configuration

cache.open( {{ kresd_cache.size }} * MB, 'lmdb://{{ kresd_cache.directory }}')
cache.min_ttl({{ kresd_cache.min_ttl }})
cache.max_ttl({{ kresd_cache.max_ttl }})


{% if kresd_prometheus.enabled %}
-- http
modules.load('http')
http.prometheus.namespace = '{{ kresd_prometheus.namespace }}'
http.config()
{% endif %}


{{ kresd_additional_raw_config }}


{% for view in kresd_views %}
{{ view | kresd_make_views(kresd_rpz) }}
{% endfor %}


-- RPZ files
{% for rpz in kresd_rpz | dict2items %}
rpz_{{ rpz.key }}_zone_path = '{{ kresd_config_rpz_dir }}/{{ rpz.key }}'
{% endfor %}


{% for policy in kresd_policies %}
{{ policy | kresd_make_policy(kresd_rpz) }}
{% endfor %}
