[Unit]
Description=Run the textfile collector script {{ script_name }}

[Timer]
{% for time in node_exporter_textfile_collector_scripts_systemd_time | dict2items %}
{{ time.key }}={{ time.value }}
{% endfor %}
Persistent=true

[Install]
WantedBy=multi-user.target
