{% for domain in domains %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "static-{{ domain.slug }}"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod-http01
spec:
  rules:
    - host: "{{ domain.name }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: static
                port:
                  name: http
    {% for extra_name in domain.extra_names %}
    - host: "{{ extra_name }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: static
                port:
                  name: http
    {% endfor %}
  tls:
    - hosts:
        - "{{ domain.name }}"
        {% for extra_name in domain.extra_names %}
        - "{{ extra_name }}"
        {% endfor %}
      secretName: "static-{{ domain.slug }}-tls"
{% endfor %}
