[Unit]
Description=afs-tokens retriever for {{ item.user }}
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
ExecStart=/usr/local/bin/afs-tokens-{{ item.user }}
User={{ item.user }}
Restart=on-failure
RestartSec=1s
